In [15]:
!pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in ./.local/lib/python3.8/site-packages (5.2.2)

In [4]:
import numpy as np
import pandas as pd

# You can also use this section to suppress warnings generated by your code:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [106]:
tables = pd.read_html(URL)
df = tables[3]
#Replace the column headers with column numbers
df.columns = range(df.shape[1])
df = df[[0,2]]
df = df[1:11]
#alternative df = df.iloc[1:11,:]
df.columns = ["Country","GDP (USD Million)"]
df1 = df["GDP (USD Million)"]
df

           Country GDP (USD Million)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [107]:
df1 = df["GDP (USD Million)"]
df1 = df1.astype(int)
df1 = (np.round(df1/1000)).astype(int)
df.insert(2, "GDP (USB Billions)" ,df1)
df

           Country GDP (USD Million)  GDP (USB Billions)
1    United States          26854599               26855
2            China          19373586               19374
3            Japan           4409738                4410
4          Germany           4308854                4309
5            India           3736882                3737
6   United Kingdom           3158938                3159
7           France           2923489                2923
8            Italy           2169745                2170
9           Canada           2089672                2090
10          Brazil           2081235                2081

In [ ]:
#Alternative Solution
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value in Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Use numpy.round() method to round the value to 2 decimal places.
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})